<div class="page-content">
	<div id="trips-info">
		<h1><%= @trip.destination %> 2023</h1>
		<p><%= @trip.start_date %></p>
	</div>
	<div class="container">
		<%= link_to 'Download itinerary', generate_icalendar_trip_path(@trip), class: "btn btn-secondary mt-3 mb-3" %>
		<%= link_to 'Default: Walking', root_path, class: "btn btn-secondary mt-3 mb-3" %>
		<div class="schedule">
			<% if @trip.itineraries == [] %>
				<div class="my-5 text-center">
					<%= link_to "Generate my itinerary", generate_trip_path(@trip), class: "btn btn-secondary" %>
				</div>
			<% else %>
				<%= render template:"itineraries/index", trip: @trip %>
			<% end %>
		</div>
	</div>
</div>
