<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
	<div class="container">
		<%= simple_form_for(@trip) do |f| %>
			<%= f.input :destination, label: false, placeholder: "Where to? ie. Tokyo", class: "form-control"%>
			<div class="d-flex">
				<%= f.input :start_date, class: "form-control date"%>
				<%= f.input :end_date, class: "form-control date" %>
			</div>
			<%= f.submit class: "btn btn-secondary" %>
		<% end %>
	</div>
</div>

<div class="container">
	<h2>HOW TO USE THIS APP</h2>
	<div class="d-flex justify-content-between">
		<p>DO THIS</p>
		<p>DO THAT</p>
		<p>BOOM!</p>
	</div>

</div>
