<div class="banner" id="hero">
  <img class="bg-img" src="https://images.unsplash.com/photo-1554797589-7241bb691973?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=736&q=80">
  <% if user_signed_in? %>
    <% if current_user.trip.nil? %>
      <div class="banner-form">
        <%= simple_form_for(@trip) do |f| %>
          <%= f.input :destination, label: false, placeholder: "Where is your next destination?", class: "form-control"%>
          <div class="d-flex">
            <div class="col m-1">
              <%= f.input :start_date, as: :string, placeholder: "Start Date", label: false,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
            </div>
            <div class="col m-1">
              <%= f.input :end_date, as: :string, placeholder: "End Date", label: false,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
            </div>
          </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    <% else %>
      <h1><%= current_user.trip.destination%></h1>
      <p><%= current_user.trip.start_date %> - <%= current_user.trip.end_date %></p>
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
<div class="container page-content text-center px-3 py-3">
  <h2>Three Simple Steps to Planning Your Dream Vacation</h2>
  <div class="d-flex justify-content-around my-3 homepage">
    <div class="text-center">
      <div class="card-home mb-4">
        <i class="fas fa-earth-asia fa-3x mb-3"></i>
        <h3>Choose Your Destination</h3>
        <p>Start by typing the perfect place for your next vacation and date planned</p>
        <p>Consider your interests, budget, and travel style when making your decision.</p>
      </div>
      <div class="card-home mb-4">
        <i class="fas fa-solid fa-map-location-dot fa-3x mb-3"></i>
        <h3>Add Locations to Your Favorites</h3>
        <p>Once you've chosen a destination, start adding locations to your favorites.</p>
        <p>You can do this by searching for specific places or by browsing our curated lists.</p>
      </div>
      <div class="card-home mb-4">
        <i class="fas fa-solid fa-route fa-3x mb-3"></i>
        <h3>We'll Create Your Custom Itinerary</h3>
        <p>Click Generate Itinerary and we will create a custom itinerary for you.</p>
        <p>Your custom itinerary will include everything you need to know about your trip, including transportation and activities.</p>
        <p>You can edit your itinerary to make it perfect for you</p>
        <div class="text-center">
          <a href="/" class="btn btn-primary my-3">Start Planning</a>
        </div>
      </div>
    </div>
  </div>
</div>
