<h6 class="mt-2"><%= "This category is currently empty.  Try bookmarking more locations!" if @favorites.empty? %></h6>
<div class="card-my-fav-locations" >
  <% @favorites.each do |favorite| %>
    <%# favoritable = @category.present? ? favorite : favorite.favoritable %>
    <div class="card-location h-100">
      <%# Bookmark starts here %>
      <div class="bookmark">
        <% if current_user %>
          <%= link_to favorite_location_path(favorite), class: "#{"text-warning" if current_user.favorited?(favorite)}", data: { turbo_method: :post }, onclick: "this.classList.toggle('text-warning')" do %>
            <i class="fa-solid fa-bookmark"></i>
          <% end %>
        <% end %>
      </div>
      <%# image starts here %>
      <%= link_to location_path(favorite) do %>
        <%= favorite.photo.present? ? image_tag(favorite.photo.split(",")[0]) : image_tag("sample_card_image.jpeg") %>
      <% end %>
      <%# description starts here %>
      <div class="card-location-info">
        <h4 class='mb-1'><%= favorite.name %></h4>
        <%if favorite.rating%>
          <p><% favorite.rating.times do%>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - favorite.rating).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% end %></p>
        <%if favorite.price_level%>
          <p><% favorite.price_level.times do%>
              <i class='fa-solid fa-dollar-sign'></i>
            <% end %>
          <% end %></p>
        <div class='mt-1'>
          <%if favorite.type_of_place%>
            <% favorite_type = favorite.type_of_place.gsub("_", " ").split.map { |each| each.capitalize }.join(" ") %>
            <% if favorite_type == "Point Of Interest" || favorite_type == "Estabilishment" %>
              <% favorite_type = "" %>
            <% end %>
          <% end %>
        </div>
        <p><i class="fa-solid fa-circle fa-xs"></i> <%= favorite_type %></p>
      </div>
    </div>
  <% end %>
</div>
