<div class="card-location">
	<div class="bookmark">
		<% if user_signed_in? %>
			<%= link_to favorite_location_path(location), class: "#{"text-success" if current_user.favorited?(location)}", data: {turbo_method: :post}, onclick: "this.classList.toggle('text-success')" do %>
				<i class="fa-solid fa-bookmark"></i>
			<% end %>
		<% end %>
	</div>
	<div>
		<%= link_to location_path(location) do %>
			<%= image_tag location.photo, alt: "text" %>
		<% end %>
	</div>
	<div class="card-location-info">
		<h4><%= location.name %></h4>
		<p><%= location.address %></p>
	</div>
</div>
