<div class="page-content">
  <div class="container">
    <h1 class="location-text">Saved locations</h1>
    <div class="d-flex justify-content-center">
      <% if current_user.trip.present? %>
        <% if current_user.trip.itineraries.present? %>
          <%= link_to generate_trip_path(current_user.trip), data: {turbo_method: :get, turbo_confirm: "Do you want to regenerate?"} do %>
            <button type="button" class="btn btn-secondary btn-sm mt-2 mb-3">Regenerate itinerary</button>
          <% end %>
        <% else %>
          <%= link_to generate_trip_path(current_user.trip) do %>
            <button type="button" class="btn btn-secondary btn-sm mt-2 mb-3">Generate itinerary</button>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%# From here we have the category avatars %>
    <div data-controller="category-search" data-category-search-baseurl-value="<%= request.base_url %>">
      <div class="container">
        <div class="category-avatars">
          <% categories = [
      { display: "All", image: "https://res.cloudinary.com/da2dzfqsn/image/upload/v1685615777/mountain-city-solid_h4rbmg.svg", query: ""},
      { display: "Sightseeing", image: "https://res.cloudinary.com/dfdergjip/image/upload/v1685618913/camera-solid_w30zus.svg", query: "sightseeing" },
      { display: "Food", image: "https://res.cloudinary.com/da2dzfqsn/image/upload/v1685617516/Food_-_utensils-solid_ku7anf.svg", query: "food" },
      { display: "Shopping", image: "https://res.cloudinary.com/da2dzfqsn/image/upload/v1685617515/shopping_k1zjei.svg", query: "shopping" },
      { display: "Misc", image: "https://res.cloudinary.com/da2dzfqsn/image/upload/v1685617516/misc_-_map-pin-solid_s9c5ha.svg", query: "miscellaneous" }
      ] %>
          <% categories.each do |category| %>
            <div class="category-avatar">
              <%= link_to my_favorites_locations_path(category: category[:query]) do %>
                <%= image_tag category[:image], class: (category[:query].empty? ? "avatar-location active" : "avatar-location"),
            data: {
              category_search_target: "avatar",
              action: "click->category-search#showLists",
              category: category[:query]}
            %>
              <% end %>
              <%# Disabling text as links %>
              <p><%= category[:display] %></p>
            </div>
          <% end %>
        </div>
        <%# From here we have all the location cards %>
        <<<<<<< HEAD
        <div class="card-my-fav-locations" data-category-search-target="list">
          =======
          <div data-category-search-target="list">
            >>>>>>> master
            <%= render "filtered_list", favorites: @favorites %>
          </div>
        </div>
      </div>
    </div>
  </div>
