<div class="page-content">
  <div class="container">
    <div class="location-text">
      <h1>All my favorites</h1>
    </div>
    <button type="button" class="btn btn-secondary mt-2 mb-3">Generate itinerary</button>
    <div class="category-avatars">
      <% categories = [
      { display: "All", image: "favorites.jpeg" },
      { display: "Sightseeing", image: "sightseeing.jpeg", query: "sightseeing" },
      { display: "Food", image: "food.jpeg", query: "food" },
      { display: "Shopping", image: "shopping.jpeg", query: "shopping" },
      { display: "Misc", image: "misc.jpeg", query: "miscellaneous" }
      ] %>
      <% categories.each do |category| %>
        <div class="category-avatar">
          <%= link_to my_favorites_locations_path(category: category[:query]) do %>
            <%= image_tag category[:image], class: "avatar-location" %>
            <p><%= category[:display] %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-locations">
      <% @favorites.each do |favorite| %>
        <% favoritable = @category.present? ? favorite : favorite.favoritable %>
        <div class="bookmark">
          <% if current_user %>
            <%= link_to favorite_location_path(favoritable), class: "#{"text-success" if current_user.favorited?(favoritable)}", data: { turbo_method: :post }, onclick: "this.classList.toggle('text-success')" do %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <div class="card-location">
          <%= link_to location_path(favoritable) do %>
            <%= favoritable.photo.present? ? image_tag(favoritable.photo) : image_tag("sample_card_image.jpeg") %>
          <% end %>
          <div class="card-location-info">
            <h4><%= favoritable.name %></h4>
            <p><%= favoritable.address %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
