<div class="page-content container">
  <div class="container">
    <div class="location-header">
      <div class="location-text">
        <h2><%= @location.name %></h2>
      </div>
      <p><%= @location.description  %></p>
    </div>
    <div onclick= "history.back()" class= "back-btn">
      <%= image_tag "buttons/back-btn.png", width:"45px" %>
    </div>
    <div class="container" id="carousel-container">
      <%= render "shared/carousel" %>
    </div>
    <div class="card mb-3">
      <div id="show-bookmark"  data-controller="itin-collapse">
        <% if user_signed_in? %>
          <% if current_user.favorited?(@location)%>
            <%= link_to favorite_location_path(@location), data: {turbo_method: :post} do %>
              <span id="bookmark-click">
                <i data-itin-collapse-target='bookmark' data-action='click->itin-collapse#toggle_bookmark' class="fa-solid fa-bookmark"></i>
              </span>
            <% end %>
          <% else %>
            <%= link_to favorite_location_path(@location), data: {turbo_method: :post} do %>
              <span id="bookmark-click">
                <i data-itin-collapse-target='bookmark' data-action="click->itin-collapse#toggle_bookmark" class="fa-regular fa-bookmark"></i>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body" id="location-details">
        <h5 class="card-title">Address</h5>
        <p class="card-text"><%= @location.address %></p>
        <h5 class="card-title">Description</h5>
        <%if @location.description.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <p class="card-text"><%= @location.description %></p>
        <% end %>
        <h5 class="card-title">Phone Number</h5>
        <%if @location.phone.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <p class="card-text"><%= @location.phone %></p>
        <%end%>
        <h5 class="card-title">Price Level</h5>
        <%if @location.price_level.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <p class="card-text"><%= @location.price_level %></p>
        <% end %>
        <h5 class="card-title">Type of Place</h5>
        <p class="card-text"><%= @location.type_of_place %></p>
        <h5 class="card-title">Rating</h5>
        <%if @location.rating.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <p class="card-text"><%= @location.rating %></p>
        <% end %>
        <h5 class="card-title">Website</h5>
        <%if @location.website.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <p class="card-text"><%= @location.website %></p>
        <% end %>
        <h5 class="card-title">User Reviews</h5>
        <%if @location.user_reviews.nil?%>
          <p class="card-text">Not Available</p>
        <% else %>
          <ul class="list-group">
            <% @location.user_reviews.each do |review| %>
              <li class="list-group-item">
              <b><%= review.content %></b>
              <p>created at: <%= review.created_at %></p>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class= "btn">
      <%= link_to "Create a review about this place", new_location_user_review_path(@location) %>
    </div>
    <h5 class="card-title">Map</h5>
    <div class='card-for-map'>
      <div class="map-display" id="map-container">
        <!--this div done just for organization purpose, bottom is the map-->
        <div id="map"
            data-controller="google-maps"
            style="width: 350px; height:99%;"
            data-markers="<%= @marker.to_json %>">
        </div>
      </div>
    </div>
  </div>
</div>
