<div class="page-content">
  <div class="container">
    <div class="location-header">
      <h2><%= @location.name %></h2>
      <p><%= @location.description  %></p>
    </div>
    <div class="container carousel">
      <%= render "shared/carousel" %>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <h5 class="card-title">Address</h5>
        <p class="card-text"><%= @location.address %></p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis suscipit a similique eligendi architecto iusto aliquam voluptatem? Cum fugit magni deleniti ullam corrupti et laborum incidunt tenetur at vitae!</p>
      </div>
    </div>
    <div class="map-display mx-3">
      <!-- <h2>MAPMAP</h2> -->
      <!--this div done just for organization purpose, bottom is the map-->
      <div id="map"

    data-controller="google-maps"
    style="width: 500px; height:100%;"
    data-markers="<%= @marker.to_json %>">
      </div>
    </div>
  </div>
</div>
