<div class="page-content container">
  <div class="container">
    <div class="location-header">
      <div class="location-text">
        <h2><%= @location.name %></h2>
        <p class="card-text">
          <% if @location.rating%>
            <% @location.rating.times do%>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% (5 - @location.rating).times do%>
              <i class="fa-regular fa-star"></i>
            <% end %>
          </p>
        <%end%>
        <p>        <%if @location.price_level%>
            <% @location.price_level.times do%>
              <i class='fa-solid fa-dollar-sign'></i>
            <% end %>
          <% end %></p>
      </div>
    </div>
    <div>
      <%= link_to :back, class: "back-btn" do%>
        <%= image_tag "buttons/back-btn.png", width:"45px" %>
      <% end %>
    </div>
    <div class="container" id="carousel-container">
      <%= render "shared/carousel" %>
    </div>
    <div class="card mb-3">
      <div id="show-bookmark"  data-controller="itin-collapse">
        <% if user_signed_in? %>
          <% if current_user.favorited?(@location)%>
            <%= link_to favorite_location_path(@location), data: {turbo_method: :post} do %>
              <span id="bookmark-click">
                <i data-itin-collapse-target='bookmark' data-action='click->itin-collapse#toggle_bookmark' class="fa-solid fa-bookmark"></i>
              </span>
            <% end %>
          <% else %>
            <%= link_to favorite_location_path(@location), data: {turbo_method: :post} do %>
              <span id="bookmark-click">
                <i data-itin-collapse-target='bookmark' data-action="click->itin-collapse#toggle_bookmark" class="fa-regular fa-bookmark"></i>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body" id="location-details">
        <%if @location.description %>
          <h5 class="card-title"><i class="fa-solid fa-book"></i>  <span class="location-details-text">Description</span></h5>
          <p class="card-text"><%= @location.description %></p>
        <% end %>
        <h5 class="card-title"><i class="fa-solid fa-flag"></i>  <span class="location-details-text">Type of place</span></h5>
        <% type_of_place = @location.type_of_place.gsub("_", " ").split.map { |each| each.capitalize }.join(" ") %>
        <p class="card-text"><%= type_of_place %></p>
        <h5 class="card-title"><i class="fa-solid fa-map-location-dot"></i>  <span class="location-details-text">Address</span></h5>
        <p class="card-text"><%= @location.address %></p>
        <%if @location.website%>
          <h5 class="card-title"><i class="fa-solid fa-earth-americas"></i>  <span class="location-details-text">Website</span></h5>
          <p class="card-text"><%= @location.website %></p>
        <% end %>
        <%if @location.phone%>
          <h5 class="card-title"><i class="fa-solid fa-phone"></i>  <span class="location-details-text">Phone</span></h5>
          <p class="card-text"><%= @location.phone %></p>
        <% end %>
      </div>
    </div>
    <% if @location.review.present? %>
      <div class="card mb-3">
        <div class="card-body location-details">
          <h5 class="card-title">Reviews from Google</h5>
          <%#if @location.review%>
          <!-- Google Review: -->
          <p class="card-text"><%= @location.review %></p>
        </div>
      </div>
    <% end %>
    <%if @location.user_reviews.present?%>
      <div class="card mb-3">
        <div class="card-body location-details">
          <h5 class="card-title">User Reviews</h5>
          <div>
            <!-- getting just the 3 latest user_reviews -from our user DB: -->
            <% @location.user_reviews.order(created_at: :desc).limit(3).each_with_index do |review, index| %>
              <div class="user-reviews">
                <p><%= "User #{index+1}" %></p>
                <p><%= review.content %></p>
                <p class="text-muted"><%= review.created_at.strftime('%F') %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= simple_form_for [@location, @user_review] do |f| %>
      <%= f.input :content, label: "Post your Review: ", placeholder: "What was your overall experience?" %>
      <%= f.submit "Submit Review", class:"btn btn-primary mb-3" %>
    <% end %>
    <!-- New Review Form: -->
    <h5 class="card-title mb-3">Map</h5>
    <div class='card-for-map'>
      <div class="map-display" id="map-container">
        <!--this div done just for organization purpose, bottom is the map-->
        <div id="map"
            data-controller="google-maps"
            style="width: 350px; height:99%;"
            data-markers="<%= @marker.to_json %>">
        </div>
      </div>
    </div>
  </div>
</div>
